<h1>characters</h1>
<a href="/login">Login</a><a href="/logout">Log out</a>
<ul>
  <% @characters.each do |character| %>
  <li>
    <div class="character">
      <h3><%= " #{character.name}"%> </h3>
      <h4><%=" by #{character.player.player_name}" %></h4>
      Name <p><%= character.name%></p>
      Intelligence<p><%= character.intel%> Wits <%= character.wits%>
      Resolve <%= character.res%></p>
      <p>Strength <%= character.str%>
        Dexterity <%= character.dex%>
      Stamina<%= character.stam%></p>
      <p>Charisma<%= character.cha%>
      Manipulation<%= character.manip%>
      Composure<%= character.comp%></p>
      Mental Skills
      <p>Academics<%= character.academics%>
      Computer<%= character.computer%>
      Crafts<%= character.crafts%>
      Investigation<%= character.investigation%>
      Medicine<%= character.medicine%>
      Occult<%= character.occult%>
      Politics<%= character.politics%>
      Science<%= character.science%></p>
      Physical Skills
      <p>Athletics<%= character.athletics%>
      Brawl<%= character.brawl%>
      Drive<%= character.drive%>
      Firearms<%= character.firearms%>
      Larceny<%= character.larceny%>
      Stealth<%= character.stealth%>
      Survival<%= character.survival%>
      Weaponry<%= character.weaponry%></p>
      Social Skills
      Animal Ken<p><%= character.animalken%>
      Empathy<p><%= character.empathy%>
      Expression<p><%= character.expression%>
      Intimidation<p><%= character.intimidation%>
      Persuasion<p><%= character.persuasion%>
      Socialize<p><%= character.socialize%>
      Streetwize<p><%= character.streetwise%>
      Subterfuge<p><%= character.subterfuge%>

      Misc. Stats
      Merits<p><%= character.meritlist%></p>
      Powers and supernatural abilities<p><%= character.powerlist%></p>
      XP<p><%= character.experience%></p>

      <% if character.player == current_player %>
        <%= link_to "Edit Your character" , edit_character_path(id: character.id) %>
      <% end %>
    </div>
  </li>
  <% end %>
</ul>
